



                <article>
                <h2>Type déja présent</h2>
  
            <ul>
        {% for collaboration_choice in collaboration_choices %}
                <li style="list-style: inside;" class="my-1">{{ collaboration_choice.title }}</li>
      
        {% endfor %}
            </ul>
</article>


