<form method="post" action="{{ path('file_category_delete', {'id': file_category.id}) }}" onsubmit="return confirm('Êtes vous sûre de vouloir supprimer cette catégorie ?');" class="col-6">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file_category.id) }}">
    <button class="btn btn-danger w-100">Supprimer la Catégorie</button>
</form>
