{% extends 'baseWithNav.html.twig' %}


{% block body %}
    <h1>Editer la catégorie : <span></span></h1>

    {{ include('file_category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
<div class="row">
    <a class="btn btn-success btn-block col-6" href="{{ path('file_category_index') }}">Retourner à la liste des catégories</a>
    {{ include('file_category/_delete_form.html.twig') }}
</div>
{% endblock %}

{% block javascripts%}
<script>
let category = "{{file_category.name | raw}}"
$("span").text(category)
$("#file_category_name").keyup(function(e) {
 $("span").text(e.target.value)
});
</script>
{% endblock %}