{% extends 'baseWithNav.html.twig' %}


{% block body %}
    <h1>Crée une nouvelle catégorie de fichier</h1>

    {{ include('file_category/_form.html.twig') }}

    <a href="{{ path('file_category_index') }}">Retourner à la liste des catégories de fichier</a>
{% endblock %}
