{{ form_start(form) }}
<div class="row my-5">
    {{ form_widget(form, {attr: {class:"col-10"}}) }}
    <button class="btn btn-primary col-2">Famille de document</button>
    </div>
{{ form_end(form) }}
