@import url(https://fonts.googleapis.com/css?family=Give+You+Glory|The+Girl+Next+Door|Gloria+Hallelujah|Indie+Flower);

main img {
  width: 200px !important;
  object-fit: contain;
}

@media print {
  header,
  h2,
  #rh_users,
  .my-2,
  hr,
  ul.mb-3,
  .attendancesMonthButtons *,
  h4,
  form,
  .dropdown,
  .text-center,
  .text-danger,
  .box {
    display: none;
  }
  main {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  table h2 {
    display: block;
  }

  div {
    border: none !important;
  }
  body {
    background: none;
  }

  #calendar {
    display: none;
  }
}
.preview {
  height: 80vh;
}
embed {
  height: 100%;
  object-fit: scale-down;
  width: 100%;
}

.preview > div {
  overflow: auto;
}

#post_it_category label {
  margin-right: 1rem;
}

.addPostIt {
  padding: 1rem;
  background-color: var(--post-it-color4);
}
.addPostIt * {
  background-color: var(--post-it-color4);
  color: black;
}

.addPostIt textarea,
.addPostIt button {
  background-color: #bbb;
}
.addPostIt button:hover {
  color: white;
}

.addPostIt label {
  font-size: 1.1em;
}
.addPostIt input:checked + label {
  color: white;
}

/* Card User */

.card {
  width: 250px;
}

.card p {
  margin: 0;
  padding: 0;
}

.card img {
  border-radius: 50%;
}
