* {
  margin: 0;
  padding: 0;
}

main img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

h2 {
  margin: 0;
}

.card i {
  font-size: 3em;
}

.card {
  width: 300px;
  text-align: center;
}

.files {
  margin-left: 20rem;
}

.profile-img {
  width: 200px;

  object-fit: contain;
  border-radius: 0;
}

main .card img {
  /* border-bottom: 1px solid gray; */
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  text-align: center;

  border-radius: 0;
}
