<form method="post" action="{{ path('holiday_reason_delete', {'id': holiday_reason.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ holiday_reason.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
