{% extends 'baseWithNav.html.twig' %}


{% block body %}
    <h2>{{ holiday_reason.name}}</h2>

    {{ include('admin/holiday_reason/_form.html.twig') }}


    {{ include('admin/holiday_reason/_delete_form.html.twig') }}
    <a href="{{ path('holiday_reason_index') }}">Retour à la liste des motifs</a>
{% endblock %}
