{% extends 'base.html.twig' %}

{% block title %}Edit HolidayReason{% endblock %}

{% block body %}
    <h1>Edit HolidayReason</h1>

    {{ include('admin/holiday_reason/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('holiday_reason_index') }}">back to list</a>

    {{ include('admin/holiday_reason/_delete_form.html.twig') }}
{% endblock %}
