{% extends 'baseWithNav.html.twig' %}


{% block body %}
    <h1>Créer un nouveau motif de congés</h1>

    {{ include('admin/holiday_reason/_form.html.twig') }}

    <a href="{{ path('holiday_reason_index') }}">Retourner à la liste des motifs</a>
{% endblock %}
