{% extends 'baseWithNav.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/css/appreciationCategory.css")}}">

{% endblock %}

{% block body %}
    <h1>Edition d'une catégorie de compétences</h1>
<div>
    {{ include('admin/appreciation_category/_form.html.twig', {'disabled': {"disabled":"disabled"}}) }}
    {{ include('admin/appreciation_category/_delete_form.html.twig') }}
</div>
{% endblock %}

{% block javascripts %}
<script>
const deleteUrl = "{{url("skill_delete", {id:0})}}"
</script>
{% endblock %}