{% extends 'baseWithNav.html.twig' %}

{% block title %}Exutoire{% endblock %}

{% block body %}

<img class="rounded-pill col-8 text-center m-auto"  src="https://rednugget.fr/wp-content/uploads/2017/11/closeup_ETLMSF-1024x433.png">
<p class="text-center my-5 fs-2 ">{{random(phrases)}}.</p>


{% endblock %}
