
    
{% extends 'baseWithPublicMenu.html.twig' %}
{% block stylesheets %}
 <link rel="stylesheet" href="{{asset("/assets/css/pageAgence.css")}}"/>
 
{% endblock %}



{% block main %}
    <section class="presentation bg-white"> 
  <p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: center;"><strong>MENTIONS LEGALES</strong></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: center;">&nbsp;</p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><strong>&nbsp;</strong></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11pt;">INFORMATIONS GENERALES&nbsp;:</span></strong></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;">&nbsp;</p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Association Loi 1901 &agrave; but non lucratif agr&eacute;&eacute;e par l&rsquo;&Eacute;tat.&nbsp;</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Aggrego-Tech</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">6 rue Charloun Rieu</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">13090 Aix-en-Provence</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">SIRET&nbsp;: 892 213 489 00024</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">&nbsp;</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Courriel: aggregotech.aci@gmail.com</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">&nbsp;</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Responsable de la publication&nbsp;:&nbsp;&nbsp;Béatrice PENA</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Le site internet&nbsp;</span><a style="color: #954f72;" href="../../"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">www.aggregotech.fr</span></a><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">&nbsp;est la propri&eacute;t&eacute; exclusive d&rsquo;Aggrego-Tech.</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">&nbsp;</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Identit&eacute; de l&rsquo;h&eacute;bergeur du site&nbsp;:</span></strong><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">&nbsp;OVH&nbsp;</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">RCS Lille M&eacute;tropole 424 761 419 00045</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Code APE 2620Z</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">N&deg; TVA : FR 22 424 761 419</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Si&egrave;ge social : 2 rue Kellermann - 59100 Roubaix - France</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;">&nbsp;</p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Copyright</span></strong></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">L'ensemble des contenus pr&eacute;sents dans les pages du site &laquo; www.aggregotech.fr &raquo; sont la propri&eacute;t&eacute; exclusive d&rsquo;Aggrego-Tech, et sont prot&eacute;g&eacute;s par la l&eacute;gislation fran&ccedil;aise sur les droits d'auteur. La reproduction de tout ou partie de ce site sur quelque support que ce soit (y compris les documents t&eacute;l&eacute;chargeables, les photographies ou iconographies), ainsi que toute utilisation du contenu du site autre que la consultation individuelle et priv&eacute;e sont formellement interdites, sauf autorisation expresse d&rsquo;Aggrego-Tech.</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Toute reprise, dans les codes sources d'une page ou d'une fonctionnalit&eacute;, d'une marque, d&eacute;nomination sociale, enseigne, ou plus g&eacute;n&eacute;ralement d'un signe distinctif figurant sur le pr&eacute;sent site est une contrefa&ccedil;on qui pourra donner lieu &agrave; des poursuites judiciaires.</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;">&nbsp;</p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Logo association&nbsp;: dagostino.jess@gmail.com</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Illustrations avatars&nbsp;: Fadime EKICI</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Nuage de mots&nbsp;: Anthony Matheo VARLOUD</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">&nbsp;</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;">&nbsp;</p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">&nbsp;</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11pt;">POLITIQUE DE CONFIDENTIALITES :</span></strong></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;">&nbsp;</p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Formulaire de contact</span></strong></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Les donn&eacute;es sont enregistr&eacute;es afin qu&rsquo;Aggrego-Tech contacte l&rsquo;utilisateur pour traiter sa demande dans le respect des dispositions de la loi n&deg;78-17 du 6 janvier 1978 relative &agrave; l&rsquo;informatique, aux fichiers et aux libert&eacute;s modifi&eacute;es et au R&egrave;glement (UE) 2016/679 du Parlement europ&eacute;en et du Conseil du 27 avril 2016 dit &laquo; RGPD &raquo;.</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Les donn&eacute;es personnelles collect&eacute;es via le formulaire de contact sont trait&eacute;es uniquement par les membres de l&rsquo;&eacute;quipe d&rsquo;Aggrego-Tech.</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Aggrego-Tech conservera ces donn&eacute;es personnelles, sauf obligation l&eacute;gale ou r&eacute;glementaire contraire, pour la dur&eacute;e d&rsquo;un an maximum &agrave; compter du dernier contact avec l&rsquo;utilisateur, &agrave; l&rsquo;initiative d&rsquo;Aggrego-Tech ou de l&rsquo;utilisateur.</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">&nbsp;</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">A l&rsquo;issue de cette dur&eacute;e ou en cas d&rsquo;exercice de ses droits par les utilisateurs, Aggrego-Tech s&rsquo;engage &agrave; d&eacute;truire toute copie des donn&eacute;es personnelles qu&rsquo;elle d&eacute;tiendrait.</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">L&rsquo;utilisateur a la possibilit&eacute; d&rsquo;exercer ses droits&nbsp;: d&rsquo;acc&egrave;s, de consentement, de rectification, d&rsquo;effacement, d&rsquo;opposition, de limitation du traitement, de portabilit&eacute; de ses donn&eacute;es personnelles.</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Pour exercer l&rsquo;un de ces droits, il convient d&rsquo;adresser sa demande par e-mail &agrave; l&rsquo;adresse suivante :&nbsp;</span><a style="color: #954f72;" href="mailto:aggregotech.aci@gmail.com"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">contact@aggregotech.fr</span></a></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Aggrego-Tech s&rsquo;engage &agrave; y r&eacute;pondre dans les meilleurs d&eacute;lais et au plus tard dans un d&eacute;lai d&rsquo;un mois &agrave; compter de la r&eacute;ception de la demande.</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">&nbsp;</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Si l&rsquo;utilisateur consid&egrave;re que le traitement de ses donn&eacute;es personnelles ne respecte pas la l&eacute;gislation en vigueur, l&rsquo;utilisateur a la possibilit&eacute; d&rsquo;introduire une r&eacute;clamation aupr&egrave;s de la CNIL.</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">&nbsp;</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Cookies</span></strong></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Lors de la navigation sur le site, des cookies sont susceptible d&rsquo;entra&icirc;ner l&rsquo;installation de cookies. Le param&eacute;trage du logiciel de navigation permet de g&eacute;rer la pr&eacute;sence de cookies et &eacute;ventuellement d&rsquo;en refuser l&rsquo;installation.</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Pour plus d&rsquo;information sur la gestion des cookies : https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;">&nbsp;</p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif;"><strong><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Google Analytics</span></strong></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Aggrego-Tech utilise cet outil pour analyser l&rsquo;audience de son site web.</span></p>
<p class="MsoNormal" style="margin: 0cm; font-family: Calibri, sans-serif; text-align: justify;"><span style="font-size: 11pt; font-family: 'Calibri Light', sans-serif;">Aggrego-Tech s&rsquo;engage &agrave; traiter anonymement les donn&eacute;es collect&eacute;es.</span></p>
        
    </section>
{% endblock %}